<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:flashMessages />
    <f:for each="{projects}" as="project">
        <div class="col-md-2 col-md-offset-1">
            <img src="http://placehold.it/100x100" alt="projectIMG" />
            <h6>{project.type}</h6>
            <hr />
            <h4>{project.name}</h4>
            <p><f:link.action action="show" class="btn btn-large btn-block btn-primary" arguments="{project : project}">Beschreibung</f:link.action></p>
            <span id="delete"><f:link.action action="delete" arguments="{project : project}">x</f:link.action></span>
            <span id="edit"><f:link.action action="edit" arguments="{project : project}">e</f:link.action></span>

        </div>
    </f:for>


    <div id="addProject"><f:link.action action="new">+</f:link.action></div>
</f:section>