<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />
    <f:for each="{projects}" as="project">
    <f:link.action action="show" arguments="{project : project}">
        <div class="col-md-2 col-md-offset-1">
				<img src="http://placehold.it/100x100" alt="projectIMG" />
				<f:render partial="Project/Properties" arguments="{project:project}" />

				<p id="more"><f:link.action action="show" arguments="{project : project}"> >> Mehr</f:link.action></p>
				
				<span id="delete">
					<f:link.action action="delete" arguments="{project : project}">
                    <object data="fileadmin/template/images/Glyphs/gear-16.svg" type="image/svg+xml">
                    </object>
                   
                    </f:link.action>
				</span>
				
				
        </div>
    </f:link.action>
    </f:for>
</f:section>