<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />
    <f:for each="{projects}" as="project">
        <div class="col-md-2 col-md-offset-1">
            <img src="http://placehold.it/100x100" alt="projectIMG" />
			<h4>{project.name}</h4>
            <hr />
			<h6>{project.type}</h6>
			<p id="projectteaser">Als Gregor Samsa eines Morgens aus unruhigen Träumen 
				erwachte, fand er sich in seinem Bett zu einem 
				ungeheueren Ungeziefer verwandelt.
			</p>
 
            <p><f:link.action action="show" arguments="{project : project}"> >> Mehr</f:link.action></p>
            <span id="delete">
            	<f:link.action action="delete" arguments="{project : project}">
                	<f:image src='connectyou/Resources/Public/Img/MP/Header_logo_weis.png' alt='CY' />
				</f:link.action>
            </span>
            <span id="edit"><f:link.action action="edit" arguments="{project : project}">e</f:link.action></span>

        </div>
    </f:for>


    <div id="addProject"><f:link.action action="new">+</f:link.action></div>

</f:section>