<script type="text/javascript">
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
</script>
<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />
    <f:for each="{projects}" as="project">
    <f:link.action action="show" arguments="{project : project}">
        <div class="col-md-2 col-md-offset-1">
				<img src="fileadmin/template/images/MP/MP_Placeholder_SOFT_v2.png" alt="projectIMG" id="list_img" />
				<f:render partial="Project/Properties" arguments="{project:project}" />

				<p id="more"><f:link.action action="show" arguments="{project : project}"> >> Mehr</f:link.action></p>
				<div id="options_icons">
                    <f:link.action id="delete" action="delete" arguments="{project : project}">
                        <img src="fileadmin/template/images/Glyphs/Delete.png"  alt="Löschen" />
                    </f:link.action>
                    
                    <f:link.action id="edit" action="edit" arguments="{project : project}">
                        <img src="fileadmin/template/images/Glyphs/Edit.png"  alt="Editieren" />
                    </f:link.action>
                    
                    <f:link.action id="archive" action="achiveproject" arguments="{project : project}">
                        <img src="fileadmin/template/images/Glyphs/Archive.png"  alt="Archivieren" />
                    </f:link.action>
                </div>
				
				
				
        </div>
    </f:link.action>
    </f:for>
</f:section>