<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />
<div id="show">
	<img src="http://placehold.it/100x100" alt="projectIMG" />
    <f:render partial="Project/Properties" arguments="{project:project}" />
	
	<h3> Beschreibung </h3>
		<p id="beschreibung">
			<f:render partial="Project/Properties" arguments="{project.description}" />
		</p>
	
	<h3> Anforderungen </h3>
		<p id="anforderungen">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. 
		Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. 
		Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler. 
		Zickler ist eine Spitzen mehr, Mehmet eh mehr Basler. Ist klar diese Wörter, ist möglich verstehen, was ich hab gesagt? Danke.  </p>
		
		<f:link.action action="list">Zurück zur Liste</f:link.action><br />
</div>
</f:section>