<label for="name">
	<f:translate key="tx_connectyou_domain_model_project.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="startdate">
	<f:translate key="tx_connectyou_domain_model_project.startdate" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="startdate"  value="{project.startdate->f:format.date()}" /><br />
<label for="enddate">
	<f:translate key="tx_connectyou_domain_model_project.enddate" />
</label><br />
	<f:form.textfield property="enddate" /><br />
<label for="technologies">
	<f:translate key="tx_connectyou_domain_model_project.technologies" />
</label><br />
	<f:form.textfield property="technologies" /><br />