<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for User</h1>

<f:flashMessages />
<f:debug>{users}</f:debug>

<table  class="tx_connectyou" >
	<tr>
		<th>Benutzername</th>
		<th>Vorname</th>
        <th>Familienname</th>
        <th>E-Mail</th>
        <th>UserID</th>
	</tr>

	<f:for each="{users}" as="user">
		<tr>
            <td>{user.username}</td>
            <td>{user.firstName}</td>
            <td>{user.lastName}</td>
            <td>{user.email}</td>
            <td>{user.uid}</td>
            <td style="width=100px;">
                <select name="top5" size="3">
                    <f:for each="{projects}" as="{project}">
                        <option>{project.name}</option>
                    </f:for>
                </select>
            </td>
			<td><f:link.action action="edit" arguments="{user : user}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{user : user}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New User</f:link.action>
</f:section>