<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../styles/marketplace.css"><style type="text/css">
	<div id="impressum">
	
		<h2>Offenlegung nach dem ECG sowie dem Mediengesetz</h2>
		<p>
			Berufsbildende Schulen Rohrbach </br>
			Handelsakademie und Handelsschule </br>
			Höhere Lehranstalt für wirtschaftliche Berufe </br>
			Fachschule für wirtschaftliche Berufe </br>
			</br>
			Akademiestraße 12 </br>
			4150 Rohrbach </br>
			Österreich </br>
		</p>
		
		<h4>Vertreten durch: </h4>
		<p>Direktor Mag. Roland F. Berlinger</p>
		
		<h4>Kontakt: </h4>
		<p>
			Telefon: +43 (0) 7289 8646 </br>
			Telefax: +49 (0) 7289 8646-919 </br>
			eMail: office(at)bbs-rohrbach.at </br>
		</p>
		
		<h4>Schulkennzahl, Aufsichtsbehörde:</h4>
		<p>
			413428, Landesschulrat für Oberösterreich
		</p>
		
		<h4>Verantwortlich für den Inhalt:</h4>
		<p>
			Mag. Roland Berlinger </br>
			Mag. Ingo Lacheiner </br>
			<ul>
				<li>Auf jenen Seiten, auf denen eine Ansprechperson angegeben ist, ist diese für den Inhalt verantwortlich</li>
				<li>Für den Inhalt der News sind die jeweiligen Redakteure zuständig, die auch namentlich im Bericht genannt werden.</li>
				<li>Für den Inhalt der Berichte der Online-Schülerzeitung sind die jeweiligen Redakteure zuständig, die auch namentlich im Bericht genannt werden.</li>
			</ul>
		</p>
			
		<h4>Urheberrecht:</h4>
		<p>
			Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem österreichischen Urheberrecht. 
			Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen 
			Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. 
			Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. 
			Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, 
			bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
		</p>
			
		<h4>Quellenangaben für die verwendeten Bilder und Grafiken</h4>
		<p>	
			Mag. Ingo Lacheiner </br>
			<ul>
				<li>Teilweise wurden Bilder im Rahmen des Unterrichts von Schülerinnen und Schülern der BBS Rohrbach erstellt. 
				In diesen Fällen liegt das Urheberrecht bei den jeweiligen Photographen, das Nutzungsrecht der Fotos bei der BBS Rohrbach. </li>
			</ul>
		</p>
			
		<h2>Haftung für Inhalte</h2>
		<p>
			Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. 
			Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. 
			Wir sind als Websitebetreiber nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu überprüfen, 
			ob diese auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen 
			bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. 
			Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
		</p>
		
		<h2>Haftung für Links</h2>
		<p>	
			Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. 
			Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der 
			jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
			Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist 
			jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
		</p>
	</div>