<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
	
	<div id="impressum">
	
		<h2>Offenlegung nach dem ECG sowie dem Mediengesetz</h2>
		<p>
			Berufsbildende Schulen Rohrbach </br>
			Handelsakademie und Handelsschule </br>
			Höhere Lehranstalt für wirtschaftliche Berufe </br>
			Fachschule für wirtschaftliche Berufe </br>
			</br>
			Akademiestraße 12 </br>
			4150 Rohrbach </br>
			Österreich </br>
		</p>
		
		<h4>Vertreten durch: </h4>
		

	
	</div>