    
<script type="text/javascript">

function setHeight() {
	var img = document.getElementById("login_bg");
	var height = img.height / 2;
	var marginTop = height / 2 * -1;
	var wrapperWidth = document.getElementById("login_bg_wrapper");
	var marginLeft = wrapperWidth.width / 4;
	document.getElementById("login_bg_wrapper").style.height = height;
	document.getElementById("login_bg").style.marginTop = marginTop;
	document.getElementById("login_bg").style.marginLeft = marginLeft;
}
window.onload = setHeight;
window.onresize = setHeight;


</script>    
    
    <div id="logo"><img src="fileadmin/template/images/Login/Logo_v2.png"></img></div>
    <div id="content">
    	
        <div id="login_bg_wrapper">
        <div id="zentrieren">
            <img src="fileadmin/template/images/Login/Login_BG.png" id="login_bg" />
        </div>
    	</div>
    			
        

        

        <div id="register"><a href="#">Registrieren / </a>  <a href="#">Passwort vergessen?</a></div>

    </div>
    <f:format.html>{LOGIN}</f:format.html>
