<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
</head>
<body>
    <div id="logo"><img src="fileadmin/template/images/Logo_MP_Login.png"></img></div>
    <div id="content">

        <f:debug{LOGIN}</f:debug>

        <div id="register"><a href="#">Registrieren / </a>  <a href="#">Passwort vergessen?</a></div>

        <f:format.html>{HAFTUNG}</f:format.html>

 <!--       <f:form name="login">
            <f:form.textfield name="user" placeholder="Benutzername" />
            <f:form.textfield name="pwd" placeholder="Passwort" />
            <f:form.button name="submit" value="Connect You" />
        </f:form>-->




    </div>
</body>
</html>