<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script language="javascript" type="text/javascript" src="../scripts/marktplatz.js"></script>
</head>
<body>
    <div id="head">
        <h1>Market</h1><h1>Place</h1>
    </div>

    <div id="content">

        <ul>
            <li class="projekt">
                <h3>Maturaprojekt 1</h3>
                <p>Infos zum Projekt</p>
            </li>

            <li class="projekt">
                <h3>Maturaprojekt 2</h3>
                <p>Infos zum Projekt</p>
            </li>

            <li class="projekt">
                <h3>Maturaprojekt 3</h3>
                <p>Infos zum Projekt</p>
            </li>
            <li class="projekt">
                <h3>Maturaprojekt 4</h3>
                <p>Infos zum Projekt</p>
            </li>
            <li class="projekt">
                <h3>Maturaprojekt 5</h3>
                <p>Infos zum Projekt</p>
            </li>
            <li class="projekt">
                <h3>Maturaprojekt 6</h3>
                <p>Infos zum Projekt</p>
            </li>
        </ul>

    </div>

    <div id="">

    </div>
</body>
</html>