	
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    
    <div id="head">
    
    	<div id="leiste"></div>
        
        <div id="logo">
			<nav>
				<ul>
					<li class = "cat1">
						<img src="fileadmin/template/images/Header_Logo.png" alt="CY"/>
						 <ul>
							 <li><a href="#">Pinnwand</a></li>
							 <li><a href="#">Marketplace</a></li>
							 <li><a href="#">Accountverwaltung</a></li>
						 </ul>
					</li>
				</ul>
			</nav>
    	</div>
        
        <div id="sidemenuleft">
        	<nav>
            <ul>
                <li class = "cat1">
                    <a href="#">Accountname</a>
                    <ul>
                        <li><a href="#">Einstellungen</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
		</div>
        
        <div id="titlefield">
			Marketplace
        </div>
           
	</div>
    <div id="projectnavigation">
			<f:link.action action="new">+ Projekt hinzufügen</f:link.action>
	</div>
	<hr>

	<div id="projects">
		<f:format.raw>{PROJEKTE}</f:format.raw>
	</div>
	
	<div id="footer">
		<p>Powered by <a id="flow3link" href="#">Flow3</a> - <a id="impressumlink" href="#">Impressum</a></p>
	</div>
    
		
	
