	
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    
     
     <div id="leiste">
         <div id="blind_fleck">
         </div>
     </div>

    <div id="projectnavigation">
			<f:link.action action="new"><img src="fileadmin/template/images/MP/project_plus.png"  id="project_plus" /> Projekt hinzufügen</f:link.action>
	</div>

     <div id="wrapper_header">
    
            <img id="titlefield" src="fileadmin/template/images/MP/MP_header_v7.png" alt="header" />

    </div>
    
    <div id="mumu">
        <link rel="shortcut icon" href="fileadmin/template/images/favicon.ico" type="image/x-icon" />
    
    	
        
        <div id="logo">
			<nav>
				<ul>
					<li class = "cat1">
						<img src="fileadmin/template/images/Header_Logo.png" alt="CY"/>
						 <ul>
							 <li><a href="#">Pinnwand</a>
								<ul>
									<li>Pinnwand 1</li>
									<li>Pinnwand 2</li>
									<li>Pinnwand 3</li>
									<li>Pinnwand 4</li>
									<li>Pinnwand 5</li>
								</ul>
							 </li>
							 <li id="logomarketplace"><a href="#">Marketplace</a></li>
							 <li id="logoaccountverwaltung"><a href="#">Accountverwaltung</a></li>
						 </ul>
					</li>
				</ul>
			</nav>
    	</div>
        
        <div id="sidemenuleft">
        	<nav>
				<ul>
					<li class = "cat2">
						<a href="#">Hilfe</a>
					</li>
					
					<li class = "cat3">
						<a href="#">Accountname</a>
						<ul>
							<li id="menueleftsettings"><a href="#">Einstellungen</a></li>
							<li id="menueleftlogout"><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
        

        
       
        
           
	</div>
   
	<hr>

	<div id="projects">
		<f:format.raw>{PROJEKTE}</f:format.raw>
	</div>
	
	<div id="footer">
		<p>Powered by <a id="flow3link" href="#">Flow3</a> - <a id="impressumlink" href="#">Impressum</a></p>
	</div>
    
		
	
