<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="head">
        <h1>Market</h1><h1>Place</h1>
    </div>

    <div id="projects">
		<div class="col-md-3">
            <img alt="Projektimage" src="http://placehold.it/100x100">
            <h6>WEB</h6>
            <hr>
            <h4>Connect You</h4>
            <p><a href="index.php?id=1&amp;tx_cymarketplace_cymarketplace%5Bproject%5D=4&amp;tx_cymarketplace_cymarketplace%5Baction%5D=show&amp;tx_cymarketplace_cymarketplace%5Bcontroller%5D=Project&amp;cHash=cd2415feabb1d9cf26c9b4dce923413f" class="btn btn-large btn-block btn-primary">Beschreibung</a></p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <img alt="Projektimage" src="http://placehold.it/100x100">
            <h6>WEB</h6>
            <hr>
            <h4>Connect You</h4>
            <p><a href="index.php?id=1&amp;tx_cymarketplace_cymarketplace%5Bproject%5D=4&amp;tx_cymarketplace_cymarketplace%5Baction%5D=show&amp;tx_cymarketplace_cymarketplace%5Bcontroller%5D=Project&amp;cHash=cd2415feabb1d9cf26c9b4dce923413f" class="btn btn-large btn-block btn-primary">Beschreibung</a></p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <img alt="Projektimage" src="http://placehold.it/100x100">
            <h6>WEB</h6>
            <hr>
            <h4>Connect You</h4>
            <p><a href="index.php?id=1&amp;tx_cymarketplace_cymarketplace%5Bproject%5D=4&amp;tx_cymarketplace_cymarketplace%5Baction%5D=show&amp;tx_cymarketplace_cymarketplace%5Bcontroller%5D=Project&amp;cHash=cd2415feabb1d9cf26c9b4dce923413f" class="btn btn-large btn-block btn-primary">Beschreibung</a></p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <img alt="Projektimage" src="http://placehold.it/100x100">
            <h6>WEB</h6>
            <hr>
            <h4>Connect You</h4>
            <p><a href="index.php?id=1&amp;tx_cymarketplace_cymarketplace%5Bproject%5D=4&amp;tx_cymarketplace_cymarketplace%5Baction%5D=show&amp;tx_cymarketplace_cymarketplace%5Bcontroller%5D=Project&amp;cHash=cd2415feabb1d9cf26c9b4dce923413f" class="btn btn-large btn-block btn-primary">Beschreibung</a></p>
        </div>
    </div>

    <div id="contentOut">
        <div id="content">
            <h2>Maturaprojekt 2</h2>
            <h5>Infos zum Projekt</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</body>
</html>