	
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    
    <div id="head">
    
    	<div id="leiste"></div>
        
        <div id="logo">
			<f:image src='ext:connectyou/Resources/Public/Img/MP/Header_logo_weis.png' alt='CY' />

    	</div>
        
        <div id="sidemenu">
        	<a href="#">Hilfe</a><a id="acc_logout" href="#">Accountname</a> <a href="#"> | Logout</a>
		</div>
        
        <div id="titlefield">
			Marketplace
        </div>
           
	</div>
    
    
    <div id="projectnavigation">
    		<object id="plus" data="../images/MP/plus-circle-16.svg" type="image/svg+xml"></object>
			<a href="#">Projekt hinzufügen</a>
	</div>
	<hr>
	
    
	<div id="projects">
      
        
		<f:format.raw>{PROJEKTE}</f:format.raw>
	</div>
    
		
	
