<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<meta charset="utf-8" />
    
    <div id="leiste">
         <div id="blind_fleck">
         </div>
     </div>
     <div id="wrapper_header">
     <!--
     	<div id="wrapper_header2">
        -->
            <img id="titlefield" src="fileadmin/template/images/pinboard/PB_header.png" alt="header" />
            <!--
        </div>
        -->
    </div>
    
    <div id="mumu">
    <link rel="shortcut icon" href="fileadmin/template/images/favicon.ico" type="image/x-icon" />
    
    	
        
        <div id="logo">
			<nav>
				<ul>
					<li class = "cat1">
						<img src="fileadmin/template/images/Header_Logo.png" alt="CY"/>
						 <ul>
							 <li><a href="#">Pinnwand</a></li>
							 <li><a href="#">Marketplace</a></li>
							 <li><a href="#">Accountverwaltung</a></li>
						 </ul>
					</li>
				</ul>
			</nav>
    	</div>
        
        <div id="sidemenuleft">
        	<nav>
				<ul>
					<li class = "cat2">
						<a href="#">Hilfe</a>
					</li>
					
					<li class = "cat3">
						<a href="#">Accountname</a>
						<ul>
							<li><a href="#">Einstellungen</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
        
       
        
           
	</div>
    
    
<div id="leiste_vert"></div>
<div id="widgetmenu">
	
    <div id="aufklappen_leiste">
    	<p>WIDGETS</p>
    	<div id="aufklappen_action">
    		<i id="move"> >> </i> 
   		</div>
    </div>
    <ul>
        <li id="todo">
        	<img src="fileadmin/template/images/pinboard/Note.png" alt="Notizen"  /> 
            <p>Notizen</p> 
        </li>
        <li id="document">
        <img src="fileadmin/template/images/pinboard/Doc.png" alt="Document"  /> 
            <p>Document</p> 
        </li>
        
        <li id="milestone">
        <img src="fileadmin/template/images/pinboard/Mile.png" alt="Milestone"  /> 
            <p>Milestone</p> 
        </li>
    </ul>
</div>

    <div id="content">
        <div class='deletewidget panel panel-primary col-md-3 col-md-offset-1' >
            <div class='panel-heading' > Milestone <i class='remove'>X</i> </div >
            <div class='panel-body'>
                <span>Milestone 1</span>
                <div class="progress">

                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>

                <span>Milestone 2</span>
                <div class="progress">

                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>

                <span>Milestone 3</span>
                <div class="progress">

                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>