<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<meta charset="utf-8" />
    
    <div id="head">
    
    	<div id="leiste"></div>
        
        <div id="logo">
    				<img src="fileadmin/template/images/Logo_klein_weis.png" />
					<p>Connect-You</p> 
    	</div>
        
        <div id="sidemenu">
        			<a href="#">Hilfe</a><a id="acc_logout" href="#">Accountname</a> <a href="#"> | Logout</a>
		</div>
        
        <div id="titlefield">
					Pinboard
        </div>
           
	</div>

<div id="widgetmenu">
	
    <div id="aufklappen">
    	<i id="move"> << </i> 
    </div>
    <div id="aufklappen_innen">
    <p>WIDGETS</p>
    </div>
    <ul>
        <li id="todo">Todo-List</li>
        <li id="document">Document</li>
        <li id="milestone">MileStone</li>
    </ul>
</div>

    <div id="content">
        <div class='deletewidget panel panel-primary col-md-3 col-md-offset-1' >
            <div class='panel-heading' > Milestone <i class='remove'>X</i> </div >
            <div class='panel-body'>
                <span>Milestone 1</span>
                <div class="progress">

                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>

                <span>Milestone 2</span>
                <div class="progress">

                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>

                <span>Milestone 3</span>
                <div class="progress">

                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>