<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<meta charset="utf-8" />
    
    <div id="head">
    
    	<div id="leiste"></div>
        
        <div id="logo">
    				<img src="../images/Logo_klein_weis.png" />
					<p>Connect-You</p> 
    	</div>
        
        <div id="sidemenu">
        			<a href="#">Hilfe</a><a id="acc_logout" href="#">Accountname</a> <a href="#"> | Logout</a>
		</div>
        
        <div id="titlefield">
					Pinboard
        </div>
           
	</div>

<div id="widgetmenu">
	
    <div id="aufklappen">
    	<i id="move"> << </i> 
    </div>
    <div id="aufklappen_innen">
    <p>WIDGETS</p>
    </div>
    <ul>
        <li id="todo">Todo-List</li>
        <li id="document">Document</li>
        <li id="milestone">MileStone</li>
    </ul>
</div>

    <div id="content">


    </div>
