<!DOCTYPE html>
<html>
<head>
    <title></title>





</head>
<body>

    <div id="logo">

    </div>

    <div id="top">
        <ul id="menu">
            <li>
                Edit
                <ul>
                    11
                    <li><a href="#">Business Cards</a></li>
                    12
                    <li><a href="#">Brochures</a></li>
                    13
                    <li><a href="#">Envelopes</a></li>
                    14
                    <li><a href="#">Flyers</a></li>
                    15
                </ul>
            </li>
            <li>
                Save
            </li>
            <li>
                Share
            </li>
            <li>
                Element
            </li>
        </ul>
    </div>

    <div id="left">

        <div id="left-menu">

        </div>
    </div>

    <div id="content">

    </div>

</body>
</html>