<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


    <div id="top">
        <ul>
            <li>
                Edit
            </li>
            <li>
                Save
            </li>
            <li>
                Share
            </li>
            <li>
                Element
            </li>
        </ul>
    </div>

    <div id="left">
        <div id="logo">

        </div>
        <div id="left-menu">

        </div>
    </div>

    <div id="content">
        
    </div>

</body>
</html>