<!DOCTYPE html>
<html>
<head>
    <title></title>





</head>
<body>

    <div id="logo">

    </div>

    <div id="top">
        <ul id="menu">
            <li>
                Edit
                <ul>
                    <li><a href="#">Entry 1</a></li>
                    <li><a href="#">Entry 2</a></li>
                    <li><a href="#">Entry 3</a></li>
                </ul>
            </li>
            <li>
                Save
                <ul>
                    <li><a href="#">Entry 1</a></li>
                    <li><a href="#">Entry 2</a></li>
                    <li><a href="#">Entry 3</a></li>
                </ul>
            </li>
            <li>
                Share
                <ul>
                    <li><a href="#">Entry 1</a></li>
                    <li><a href="#">Entry 2</a></li>
                    <li><a href="#">Entry 3</a></li>
                </ul>
            </li>
            <li>
                Element
                <ul>
                    <li><a href="#">Entry 1</a></li>
                    <li><a href="#">Entry 2</a></li>
                    <li><a href="#">Entry 3</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="left">

        <div id="left-menu">

        </div>
    </div>

    <div id="content">

    </div>

</body>
</html>