<html>
<head>
<link rel="stylesheet" type="text/css" href="../../../../../Sites/Einstellungen/reg.css">

<title>Reg</title>
</head>
   <div id="trennung">
   </div>
<body>
 
    
        <img src="../images/reg/Reg_Logo_1.png" id="bild_b" >
        
        <img src="../images/reg/Reg_Logo_2.png" id="bild_a" >
   
     
 
    
    <form name="reg">
     			<h1>Employer</h1>
                <table id="main">
           
                    <tr>
                        <td></td><td></td><td><label id="luser">User:</label></td><td><input name="name" type="text" ></td>
                    </tr>																						
                    <tr>
                        <td></td><td></td><td><label id="lpass">Pass:</label>	</td><td>	<input name="pass" type="text" ></td>
                    </tr>						
                    <tr>
                        <td></td><td></td><td><label id="lpass2">Pass repeat:</label></td><td><input name="pass2" type="text" ></td>
                    </tr>
                    <tr>
                        <td></td><td></td><td><label id="lemail">E-Mail:</label></td><td><input name="email" type="text" ></td>
                    </tr>
                </table>
            
            <div class="wrapper">
                <table>
                    <tr>
                            <td><label id="lvname">Vorname:</label></td><td><input name="vname" type="text" ></td>
                            <td><label id="lnname">Nachname:</label></td><td><input name="nname" type="text" ></td>
                    </tr>
                    <tr>
                            <td><label id="lplz">Postleitzahl:</label></td><td><input name="plz" type="text" ></td>
                            <td><label id="lcity">Stadt:</label></td><td><input name="city" type="text" ></td>
                    </tr>
                    <tr>
                            <td><label id="lstreet">Straße:</label></td><td><input name="sreet" type="text" ></td>
                            <td><label id="lstreetNumber">Straßennummer:</label> </td><td>  <input name="streetNumber" type="text" ></td>
                    </tr>
                    <tr>
                        <td><label id="lcompanyName">Firmenname:</label> </td><td>	<input name="companyName" type="text" ></td>
                        <td><label id="ltelephone">Telefonnummer:</label></td><td> 	<input name="telephone" type="text" >	</td>
                    </tr>	
                </table>
                </div>
            
            
            
            
      	<!--<f:form.submit value="Login" name="reg" /> -->
    	<!-- </f:form> -->
    </form>
    
</body>
</html>

