<table class="tx-connectyou" >
	<tr>
		<td>
			<f:translate key="tx_connectyou_domain_model_user.username" />
		</td>
		<td>
			{user.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_connectyou_domain_model_user.firstname" />
		</td>
		<td>
			{user.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_connectyou_domain_model_user.lastname" />
		</td>
		<td>
			{user.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_connectyou_domain_model_user.email" />
		</td>
		<td>
			{user.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_connectyou_domain_model_user.phone" />
		</td>
		<td>
			{user.phone}
		</td>
	</tr>
</table>