/*****************
	* CSS-Dateiname:  login.css

	* Für welche Bereiche:  Nur die Login-Page wird beeinflusst!

	* Notiz:

	* Author(en): Dorfer Valentin

	* Version: 24.09.2013
*****************/

/*****************
 * Allgemein
*****************/

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

html{
	background: radial-gradient( 40em 70em,  #ffffff, #009FE4 );
    background-size: 100%;
    background-repeat: no-repeat;
}



/*****************
 * Logo und Loginformular
*****************/

img {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    margin-top: 1em;
}

.tx-felogin-pi1 { /* Gesammtes Login-Formular */
    margin: 0 auto;
    width: 16em;
}

.tx-felogin-pi1 form {
    background-color: #ECF0F1;
    height: 6em;
    padding: 1em;
}

.tx-felogin-pi1 form #user {
    width: 100%;
}

.tx-felogin-pi1 form #pass {
    width: 100%;
}

