/*****************
	* CSS-Dateiname:  login.css
	
	* Für welche Bereiche:  Nur die Login-Page wird beeinflusst!
	
	* Notiz: 
	
	* Author(en): Dorfer Valentin 
	
	* Version: 24.09.2013
*****************/


/* Ausblenden der nichtbenötigten Standartelemente der Loginform von Typo3 */
h3 { 
	display: none;
}

