/*****************
	* CSS-Dateiname:  login.css

	* Für welche Bereiche:  Pinnwand (Menu, Left-Menu-Icons)!

	* Notiz:

	* Author(en): Dorfer Valentin

	* Version: 07.10.2013
*****************/

/*****************
 * Allgemein
*****************/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #009FE3;
}


/*****************
 * Top-Header
*****************/

#head {
    margin: 0 auto;
    width: 90%;
    height: 6%;
}

#head h1 {
    margin: 0;
    padding: 0;
    color: #9B58B6;
    font-size: 16pt;
    width: 3em;
    text-align: center;
    float: left;
}

#head h1:first-child {
    color: white;
}

/*****************
 * Content
*****************/

#content {
    width: 94%;
    margin: 0 auto;
    height: 20em;
    background-color: white;
}