/*****************
	* CSS-Dateiname:  login.css

	* Für welche Bereiche:  Pinnwand (Menu, Left-Menu-Icons)!

	* Notiz:

	* Author(en): Dorfer Valentin

	* Version: 07.10.2013
*****************/

/*****************
 * Allgemein
*****************/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #009FE3;
}


/*****************
 * Top-Header
*****************/

#head {
    margin: 0 auto;
    width: 22em;
}

#head h1 {
    margin: 0;
    padding: 0;
    float: left;
    color: #9B58B6;
    font-size: 16pt;
    width: 10em;
    text-align: center;
}

#head h1:first-child {
    color: white;
    margin-right: 2em;
}