/*****************
	* CSS-Dateiname:  login.css

	* Für welche Bereiche:  Pinnwand (Menu, Left-Menu-Icons)!

	* Notiz:

	* Author(en): Dorfer Valentin

	* Version: 07.10.2013
*****************/

/*****************
 * Allgemein
*****************/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    
	font-family: 'Lato';
	background-image:url(../images/Background/debut_light.png);
	background-repeat:repeat;
	
}
/*****************
 * Top-Header//Diksn
*****************/

#head {
	margin: 0;
	padding-top: 0.4%;
	position:relative;
    width:100%;
	height: 55px;
	overflow:visible;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.6);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,.6);
	box-shadow: 2px 2px 3px rgba(0,0,0,.6);
	background-image: url("../images/Background/Pinnwand.png");
	background-repeat:repeat;
}

#leiste {
	position:relative;
	width: 100%;
	height: 4px;
	background-color: #9b59b6;
	-webkit-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
	-moz-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
	box-shadow: 3px 4px 7px rgba(0,0,0,.7);
}

#titlefield {
	position: relative;
	margin: 0 auto;
    width: 303px;
	height: 65px;
	
	background-color: #9b59b6;
	-webkit-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
	-moz-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
	box-shadow: 3px 4px 7px rgba(0,0,0,.7);
	
	text-align:center;
	color:#FFF;
	font-family: 'Lato';
    font-size: 35pt;
	font-weight: 400;
}



#logo {
	position: relative;
	margin-left: 0.3%;
	height:100%;
	width:auto;	
	float: left;

}
	

#logo img {
	width:auto;
	height: 90%;
	
	float:left;
	
}
#logo p {
	position:relative;
	text-align:center;
	margin-top: 6.5%;
	margin-left: 5px;
	float:right;
	font-size: 16pt;
	font-weight: 200;
	color:#FFF;
	
}


#sidemenu {
	position:relative;
	height:100%;
	width:auto;
	margin-right: 1%;
	float:right;
	text-align:center;
	padding-top:1%;
}

#sidemenu a {
	
	text-decoration:none;
	font-size: 12pt;
	font-weight: 100;
	color:#FFF;
}
	
#acc_logout {
	margin-left:10px;
}


/*****************
 * Widgetmenu
*****************/
#leiste_vert {
	position:absolute;
	height:100%;
	width: 0.4%;
	background-image: url(../images/Background/debut_light.png);
	border-right:#9b59b6;
	border-right-style:solid;
	border-right-width: 4px;
	z-index:3;
}

#widgetmenu {
    position: absolute;
    height: 100%;
    width: 13em;
    left: -12.8em;
	z-index: 2;
	margin-top: 2.5em;

	
	
}
#aufklappen {
	position:absolute;
	
	height: 1.4em;
    width: 1.5em;
    padding-right: 0.3em;
	margin-left: 6.3em;

	background-color:#b1b3b4;
	color:#FFF;
    font-size: 22pt;
	text-align: center;
	
		
	
	
	
}
#aufklappen i {
	color:#FFF;
    float: right;
    margin-left: 1em;
    cursor: pointer;
}

#aufklappen_innen{
	position:relative;
	
	height: 2.9em;
    width: 100%;
	text-align:center;
	
	background-color:#b1b3b4;
	
	
}

#aufklappen_innen p {
	position:relative;
	color:#FFF;
	text-align:center;
	font-size:18pt;
	font-weight:200;
}
#widgetmenu ul {
	color:#FFF;
    margin: 0;
    padding: 0;
    list-style: none;
}
#widgetmenu ul li {
    width: 100%;
    text-align: center;
    margin: 0 auto;
	margin-top:1em;
    
	border: 1px solid #b1b3b4;
    height: 4em;
    cursor: pointer;
}



/*****************
 * Menü-Oben Vale 
*****************
#top {
    height: 8%;
    width: 100%;
    background-image: url("../images/Background/Pinnwand.png");
    background-repeat:repeat;
    box-shadow: 0px 3px 7px black;
}
#top h1 {
    position: absolute;
    margin: 0 auto;
    left: 41%;
    margin-top: 0.2em;
    right: 41%;
    width: 18%;
    text-align: center;
    color: white;
    font-size: 28pt;
    padding-top: 0.2em;
    height: 1.5em;
    background-color: #9b59b6;

    -webkit-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    -moz-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    font-family: "Calibri";
}
#top #strich {
    background-color: #9b59b6;
    width: 100%;
    height: 3px;
    margin-top: 0.4em;
    position: absolute;
    -webkit-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    -moz-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    box-shadow: 3px 4px 7px rgba(0,0,0,.7);
}
#top a {
    float: left;
    color: #EBEEF1;
}
#top a:visited {
    color: #EBEEF1;
}
.trennlinie {
    float: left;
    text-align: center;
    width: 1em;
}
#topleft{
    position: absolute;
    margin-top: 1.3em;
    margin-left: 4em;
    font-size: 12pt;
    letter-spacing: 1px;
    color: #EBEEF1;
}
#topright {
    margin-top: 1.8em;
    font-size: 10pt;
    letter-spacing: 1px;
    position: absolute;
    float: right;
    color: #EBEEF1;
    right: 1em;
    width: 18em;
}
#hilfe {
    width: 5em;
    text-align: left;
}
#logout {
    width: 5em;
    float: right;
    margin-top: -1.2em;
}
#logo {
    float: left;
}

*/

/*****************
 * Content
*****************/
#content {
    float: left;
    width: 100%;
    margin-top: 3.9%;
    height: 25em;
    }


/*****************
 * WIDGETS
*****************/

.remove {
    float: right;
    cursor: pointer;
}