/*****************
	* CSS-Dateiname:  login.css

	* Für welche Bereiche:  Pinnwand (Menu, Left-Menu-Icons)!

	* Notiz:

	* Author(en): Dorfer Valentin

	* Version: 07.10.2013
*****************/

/*****************
 * Allgemein
*****************/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: #E7E7E7;

	
}
/*****************
 * Menü-Links
*****************/

/*****************
 * Menü-Oben
*****************/
#top {
    height: 8%;
    width: 100%;
    background-image: url("../images/Background/Pinnwand.png");
    background-repeat:repeat;
    box-shadow: 0px 3px 1px black;
}
#top h1 {
    position: absolute;
    left: 41%;
    right: 41%;
    top: 0.2em;
    width: 18%;
    text-align: center;
    color: white;
    font-size: 28pt;
    padding-top: 0.2em;
    height: 1.5em;
    background-color: #9b59b6;
    margin: 0 auto;
    -webkit-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    -moz-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    font-family: "Calibri";
}
#top #strich {
    background-color: #9b59b6;
    width: 100%;
    height: 3px;
    margin-top: 0.4em;
    position: absolute;
    -webkit-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    -moz-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    box-shadow: 3px 4px 7px rgba(0,0,0,.7);
}
#top a {
    float: left;
    color: #EBEEF1;
}
#top a:visited {
    color: #EBEEF1;
}
.trennlinie {
    float: left;
    text-align: center;
    width: 1em;
}
#topleft{
    position: absolute;
    margin-top: 1.3em;
    margin-left: 4em;
    font-size: 12pt;
    letter-spacing: 1px;
    color: #EBEEF1;
}
#topright {
    margin-top: 1.5em;
    font-size: 10pt;
    letter-spacing: 1px;
    position: absolute;
    float: right;
    color: #EBEEF1;
    right: 1em;
    width: 18em;
}
#hilfe {
    width: 5em;
    text-align: left;
}
#logout {
    width: 5em;
    float: right;
    margin-top: -1.2em;
}
#logo {
    float: left;
}
/*****************
 * Content
*****************/
#content {
    float: left;
    width: 100%;
    margin-top: 3.9%;
    height: 25em;
    }

