/*****************
	* CSS-Dateiname:  login.css

	* Für welche Bereiche:  Pinnwand (Menu, Left-Menu-Icons)!

	* Notiz:

	* Author(en): Dorfer Valentin

	* Version: 30.09.2013
*****************/

/*****************
 * Allgemein
*****************/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

/*****************
 * Menü-Links
*****************/

#left {
    float: left;
    height: 96%;
    width: 10%;
    background-color: #009FE3;
}

#logo {

}

#left-menu {

}

/*****************
 * Menü-Top
*****************/

#top {
    float: left;
    width: 100%;
    height: 4%;
    background-color: #009FE3;
}

#top ul {
    margin: 0;
    padding: 0;
    margin-left: 12%;
    height: 99.6%;
}

#top ul li {
    float: left;
    list-style: none;
    font-size: 17pt;
    color: white;
    width: 5em;
    height: 100%;
    text-align: center;
}

#top ul li:hover{
    background-color: #344960;
    cursor: pointer;
}

ul#menu li:hover > ul
{
    visibility:visible;
    opacity:1;
}

ul#menu ul {
    visibility:hidden;
    opacity:0;
    background-color: #344960;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 99999;
    width: 5em;

    transition:opacity 0.2s linear, visibility 0.2s linear;
}



/*****************
 * Content
*****************/

#content{

    height: 95%;
    width: 90%;
}

/*****************
 * Logo
*****************/

#logo {
    position: absolute;
    height: 5em;
    width: 7em;
    background: radial-gradient( 3em 2em,  #ffffff, #009FE4 );
    background-size: 100%;
    background-repeat: no-repeat;
}