/*****************
	* CSS-Dateiname:  login.css

	* Für welche Bereiche:  Pinnwand (Menu, Left-Menu-Icons)!

	* Notiz:

	* Author(en): Dorfer Valentin

	* Version: 07.10.2013
*****************/

/*****************
 * Allgemein
*****************/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
	background-image:url(../images/Background/Pinnwand.png);
	background-repeat:repeat;
	
}

/*****************
 * Menü-Links
*****************/

#left {
    float: left;
    height: 96%;
    width: 10%;
    background-image: url(../images/Background/Rahmen.png);
	background-repeat:repeat;
}

/*****************
 * Menü-Top
*****************/

