<label for="username">
	<f:translate key="tx_connectyou_domain_model_user.username" />
</label><br />
	<f:form.textfield property="username" /><br />
<label for="firstname">
	<f:translate key="tx_connectyou_domain_model_user.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="lastname">
	<f:translate key="tx_connectyou_domain_model_user.lastname" />
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="email">
	<f:translate key="tx_connectyou_domain_model_user.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_connectyou_domain_model_user.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />