

<label for="name">
	<f:translate key="tx_connectyou_domain_model_project.name" /> <span class="required">(notwendig)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_connectyou_domain_model_project.description" /> <span class="required">(notwendig)</span>
</label><br />
	<f:form.textfield property="description" /><br />

<label for="type">
	<f:translate key="tx_connectyou_domain_model_project.type" /> <span class="required">(notwendig)</span>
</label><br />
	<f:form.textfield property="type" /><br />


<f:for ></f:for>
<label for="team">
    <f:translate key="tx_connectyou_domain_model_project.team" />
</label>
    <f:form.select name="users" options="{users}" multiple="1" />
